@import '~bootstrap/scss/bootstrap';
@import './admin.scss';

body{
  font-family: 'Nunito', sans-serif !important;
}
.custom-btn{
  // border-radius: 10rem;
  padding: 0.5rem 2.5rem;
} 
// hide scroll bar
.sidebar-content {
  -ms-overflow-style: none;  // IE 10+
  overflow: -moz-scrollbars-none;  // Firefox
}
.sidebar-content::-webkit-scrollbar { 
  display: none;  // Safari and Chrome
}
.intro{
  margin-top: 3rem;
}
@media (min-width: 992px){

  .modal-lg, .modal-xl {
      max-width: 1200px;
  }

}
a.action {
  padding: 5px 10px;
  border: 1px solid #999;
  font-size: 12px;
  border-radius: 5px;
}
#seting-profile {
  margin-top: 7px;
}

#seting-profile .avatar {
  width: 100px;
  height: 100px;
}

.text-label {
  text-align: right;
  font-weight: bold;
}

.nav-tabs>li>a {
  color: #555;
}
